openapi: 3.0.0
info:
  version: 1.0.0
  title: Summary Care Record API
  description: |
    
    <div class="emphasis-box emphasis-box-emphasis navigationMarker-sub" aria-label="Highlighted Information">
        <div class="emphasis-box__image">
                <img src="https://digital.nhs.uk/svg-magic/binaries/content/gallery/website/icons/universal/information.svg?colour=005eb8" alt="" width="100" height="100">
        </div>
    <div class="emphasis-box__content">
            <div data-uipath="website.contentblock.emphasis.content"><p>This API is initially for use by new market entrant GP IT developers with other use cases to follow later.</p></div>
    </div>
    </div>

    ## Overview
    Use this API to access a patient's [Summary Care Record (SCR)](https://digital.nhs.uk/services/summary-care-records-scr) - an electronic record of important patient information, created from GP medical records. SCRs can be seen and used by authorised staff in other areas of the health and care system involved in the patient's direct care.

    Also use this API to access the Access Control Service (ACS) - which manages consent to share information for SCR.

    You can:
    * create a patient's Summary Care Record
    * retrieve a patient's Summary Care Record
    * set consent to share information
    * raise information governance alerts in certain circumstances when viewing a patient's Summary Care Record

    ## Who can use this API
    This API can only be used where there is a legal basis to do so. Make sure you have a valid use case before you go too far with your development. You must do this before you can go live (see ‘Onboarding’ below).

    ## Related APIs
    To use this API, you will need the patient's NHS number, which can be retrieved by using the following API:
      - [Personal Demographics Service (FHIR) API](https://digital.nhs.uk/developer/api-catalogue/personal-demographics-service-fhir) - use this API to search for patients and retrieve their details.  This API can also be used to update their details in some cases. This is the latest version of the PDS API and is recommended for all new integrators.

    ## API status and roadmap
    This API is initially for use by new market entrant GP IT developers with other use cases to follow later.
    
    This API is in [alpha](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#api-status), meaning:
    - the API is available in our sandbox and integration test environments
    - the API is not yet available for production use
    - we might make breaking changes, but only if we cannot avoid it, and we'll give advance notice

    To see our roadmap, or to suggest, comment or vote on features for this API, see our [interactive product backlog](https://nhs-digital-api-management.featureupvote.com/?order=popular&filter=all&tag=reasonable-adjustment-flag#controls).

    If you have any other queries, please [contact us](https://digital.nhs.uk/developer/help-and-support).

    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#basic-rest-apis). 

    It also conforms to the [FHIR (R4)](https://www.hl7.org/fhir/) global standard for health care data exchange.

    You don’t need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules. In particular:
        - array names are singular, for example `line` not `lines` for address lines
        - data items that are country-specific and thus not included in the FHIR global base resources are usually wrapped in an `extension` object

    ## Network Access
    This API is available on the internet and, indirectly, on the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network). To use this API with NHS [smartcards](https://digital.nhs.uk/services/registration-authorities-and-smartcards) (see below) you do need an HSCN connection, although internet-facing alternatives are available.

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).


    ## Authorisation
    This API is [user-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis), meaning an end user must be present and authenticated to use it.

    The end user must be:
    - a healthcare professional
    - strongly authenticated, using either an NHS [smartcard](https://digital.nhs.uk/services/registration-authorities-and-smartcards) or a [modern alternative](https://digital.nhs.uk/services/nhs-care-identity-service-2/ways-to-authenticate-with-nhs-cis2) available via [NHS Care Identity Service 2 (NHS CIS2)](https://digital.nhs.uk/services/nhs-identity)

    The API uses OAuth 2.0 to authorise the calling system. It supports the following security patterns:

    - [user-restricted RESTful API - using NHS CIS2 - combined authentication and authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-cis2-combined-authentication-and-authorisation)
    - [user-restricted RESTful API - using NHS CIS2 - separate authentication and authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-cis2-separate-authentication-and-authorisation)

    For more details, see [user-restricted APIs](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).


    ## Environments and testing
    | Purpose                                | Base URL                                            |
    | ---------------------------------------|-----------------------------------------------------|
    | Sandbox                                | `https://sandbox.api.service.nhs.uk/summary-care-record/FHIR/R4`|
    | Integration test                       | `https://int.api.service.nhs.uk/summary-care-record/FHIR/R4`    |



    ### Sandbox testing
    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):
      - is for early developer testing
      - only covers a limited set of scenarios
      - is stateless, so it does not actually persist any updates
      - is open access, so does not allow you to test authorisation

      For more details on sandbox testing, or to try out the sandbox using our \"Try this API\" feature, see the documentation for each endpoint.

    ### Integration testing
    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):

    * is for formal integration testing
    * is stateful, so persists updates
    * includes authorisation, with [smartcard](https://digital.nhs.uk/services/registration-authorities-and-smartcards) and non-smartcard options

    For more details see [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).   


    ## Onboarding
    You need to get your software approved by us before it can go live with this API. We call this onboarding. The onboarding process can sometimes be quite long, so it’s worth planning well ahead.

  license:
    name: MIT
  contact:
    name: Summary Care Record FHIR API Support
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
x-nhsd-api-platform:
  meta:
    name: Summary Care Record API
    canonical_name: summary-care-record
    short_name: scr
    description: This is a generated template API
    pipeline_name_prefix: "Summary-Care-Record"
servers:
  - url: 'https://sandbox.api.service.nhs.uk/summary-care-record/FHIR/R4'
    description: Sandbox environment
  - url: 'https://int.api.service.nhs.uk/summary-care-record/FHIR/R4'
    description: Integration test environment.
paths:
  /Bundle:
    post:
      description: |
        ## Overview
        Use this endpoint to upload the details of patient's Summary Care Record.

        To execute the upload you must provide patient's NHS number.
        In case of an update, before executing the request, latest UUID must be obtained using GET /DocumentReference endpoint
        and set inside the request body.

        ## Sandbox test scenarios
        You can test the following scenarios in our sandbox environment:
        
        | Scenario                          | Request                                           | Response                                                                                                                              |
        | ----------------------------------| ------------------------------------------------- | -------------------- |
        | Happy path                        | `Patient.identifier.value`=`9995000180`           | HTTP Status 201      |
        | No patient's consent to store SCR | `Patient.identifier.value`=`9693042298`           | HTTP Status 403      |
      
      summary: Upload patient's Summary Care Record
      operationId: upload-scr
      parameters:
        - $ref: '#/components/parameters/BearerAuthorization'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
        - $ref: '#/components/parameters/RoleID'
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/UploadBundle.yaml
            example:
              $ref: components/examples/UploadScrBundle.json
      responses:
        "201":
          description: SCR successfully uploaded
        "400":
          description: Bad request - error in business logic on the client's side
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              examples:
                nhsMissing:
                  value:
                    resourceType: OperationOutcome
                    issue:
                      - severity: error
                        code: invalid
                        details:
                          text: NHS number missing
                subjectPatientMissing:
                  value:
                    resourceType: OperationOutcome
                    issue:
                      - severity: error
                        details:
                          text: Composition.subject reference is missing or invalid
                invalidBundleType:
                  value:
                    resourceType: OperationOutcome
                    issue:
                      - severity: error
                        details:
                          text: "Unsupported Bundle.type: SEARCHSET"
        "401":
          description: Unauthorized
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: forbidden
                    details:
                      text: Invalid access token
        "403":
          description: There's no patient's consent to store SCR
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: forbidden
                    details:
                      text: Forbidden update with error - there's no patient's consent to store SCR
        "415":
          description: Unsupported Media Type, Content-Type header is invalid or missing
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: not-supported
                    details:
                      text: Content type 'text/plain' not supported
        "429":
          description: You have exceeded your application's rate limit
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
        "500":
          description: Internal Server Error
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationErrorOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: unknown
                    details:
                      coding:
                        system: "https://fhir.nhs.uk/CodeSystem/Spine-ErrorOrWarningCode"
                        version: 1
                        code: UNKNOWN_ERROR
                        display: Unknown Error
                    diagnostics: "An unknown error occurred processing this request. Contact us for assistance diagnosing this issue: https://digital.nhs.uk/developer/help-and-support."
        "504":
          description: |
            The request timed out during processing. This does not imply the request has failed or been rejected.
            Re-send the request using the same `X-Request-ID` value.
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: transient
                    details:
                      text: Request processing timed out. Spine POST + polling GET has timed out
    get:
      description: |
        ## Overview
        Use this endpoint to retrieve the details of patient's Summary Care Record.

        To get the information you must provide patient's NHS number and SCR UUID. UUID can be obtained using GET /DocumentReference endpoint.

        If there's no patient's consent to share SCR the endpoint will return an empty bundle.

        ## Sandbox test scenarios
        You can test the following scenarios in our sandbox environment:

        | Scenario                         | Request                                                                                                         | Response                          |
        | -------------------------------- | ----------------------------------------------------------------------------------------------------------------|---------------------------------- |
        | Happy path                       | `composition.identifier`=`FA60BE64-1F34-11EB-A2A8-000C29A364EB` `Patient.identifier`=`9995000180`               | HTTP Status 200 - Full Bundle     |
        | No results                       | `composition.identifier`=`81CC2DA0-8882-11EB-B538-0800200C9A66` `Patient.identifier`=`9693042298`               | HTTP Status 200 - Empty Bundle    |
        
      summary: Get patient's Summary Care Record
      operationId: get-scr
      parameters:
        - $ref: '#/components/parameters/BearerAuthorization'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
        - in: query
          name: composition.identifier
          description: The patient's NHS number. Must be preceded with FHIR identifier (eg."composition.subject:Patient.identifier=https://fhir.nhs.uk/Id/nhs-number|9995000180")
          example: FA60BE64-1F34-11EB-A2A8-000C29A364EB$composition.subject:Patient.identifier=https://fhir.nhs.uk/Id/nhs-number|9995000180
          required: true
          schema:
            type: string

      responses:
        "200":
          description: SCR successfully returned
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/GetScrBundle.yaml
              example:
                $ref: components/examples/GetScrBundle.json
        "400":
          description: Bad request
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: invalid
                    details:
                      text: NHS number missing
        "401":
          description: Unauthorized
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: forbidden
                    details:
                      text: Invalid access token
        "500":
          description: Internal Server Error
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationErrorOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: unknown
                    details:
                      coding:
                        system: "https://fhir.nhs.uk/CodeSystem/Spine-ErrorOrWarningCode"
                        version: 1
                        code: UNKNOWN_ERROR
                        display: Unknown Error
                    diagnostics: "An unknown error occurred processing this request. Contact us for assistance diagnosing this issue: https://digital.nhs.uk/developer/help-and-support."
  /DocumentReference:
    get:
      summary: Get patient's latest Summary Care Record identifier
      operationId: get-scr-id
      description: |
        ## Overview
        Use this endpoint to retrieve UUID of patient's latest record.
        The UUID is required to retrieve the Summary Care Record details using GET /Bundle endpoint
        and to update the details of patient's Summary Care Record using POST /Bundle endpoint.

        To get the information you must provide patient's NHS number.

        If there is no patient's consent to share SCR the endpoint will return an empty bundle.

        ## Sandbox test scenarios
        You can test the following scenarios in our sandbox environment:
        
        | Scenario                          | Request                           | Response                           |
        | ----------------------------------| --------------------------------- | ---------------------------------- |
        | Happy path                        | `nhs-number=9995000180`           | HTTP Status 200 - Full Bundle      |
        | Empty result                      | `nhs-number=9693042298`           | HTTP Status 200 - Empty Bundle     |
        
      parameters:
        - $ref: '#/components/parameters/BearerAuthorization'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
        - $ref: '#/components/parameters/RoleID'
        - in: query
          name: patient
          description: The patient's NHS number. Must be preceded with FHIR identifier (eg."patient=https://fhir.nhs.uk/Id/nhs-number|9995000180")
          required: true
          example: https://fhir.nhs.uk/Id/nhs-number|9995000180
          schema:
            type: string
            
        - in: query
          name: type
          description: General Practice Summary snomed code. Must be equal "type=http://snomed.info/sct|196981000000101"
          required: false
          example: http://snomed.info/sct|196981000000101
          schema:
            type: string
          
        - in: query
          name: _sort
          description: Defines how Patient's SCR list should be sorted in order to retrieve the latest one. The only supported value is _sort=date. If a different value is provided HTTP 400 Bad Request will be returned.
          required: false
          example: date
          schema:
            type: string
             
        - in: query
          name: _count
          description: Defines the number of latest patient SCR IDs that sgould be retrieved. Currently the only supported value is _count=1. If a different value is provided HTTP 400 Bad Request will be returned.
          required: false
          example: 1
          schema:
            type: integer
              
      responses:
        "200":
          description: Success response
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/DocumentReferenceBundle.yaml
              example:
                $ref: components/examples/DocumentReferenceBundle.json
        "400":
          description: Bad Request
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    details:
                      text: Required String parameter 'patient' is not present
        "401":
          description: Unauthorized
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: forbidden
                    details:
                      text: Invalid access token
        "500":
          description: Internal Server Error
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationErrorOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: unknown
                    details:
                      coding:
                        system: "https://fhir.nhs.uk/CodeSystem/Spine-ErrorOrWarningCode"
                        version: 1
                        code: UNKNOWN_ERROR
                        display: Unknown Error
                    diagnostics: "An unknown error occurred processing this request. Contact us for assistance diagnosing this issue: https://digital.nhs.uk/developer/help-and-support."

  /$setPermission:
    post:
      summary: Update patient's consent to share SCR
      operationId: acs
      description: |
        ## Overview
        Use this endpoint to update the Permission to share the GP Summaries

        ## Sandbox test scenarios
        You can test the following scenarios in our sandbox environment:

        | Scenario                         | Request                                                                      | Response             |
        | -------------------------------- | ---------------------------------------------------------------------------- | -------------------- |
        | Happy path                       | `NHSD-Session-URID`=`555254240100`; `nhsNumber`=`9995000180`                 | HTTP Status 201      |
        | Patient not found                | `NHSD-Session-URID`=`555254240100`; `nhsNumber`=`9693042298`                 | HTTP Status 400      |
        
      parameters:
        - $ref: '#/components/parameters/BearerAuthorization'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
        - $ref: '#/components/parameters/RoleID'
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/Parameters.yaml
            example:
              $ref: components/examples/SetPermission.json
      responses: 
        "201": 
          description: Permission successfully updated
        "400":
          description: Bad request
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: invalid
                    details:
                      text: Invalid value - xyz in field 'valueCoding.code'
        "401":
          description: Unauthorized
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: forbidden
                    details:
                      text: Invalid access token
        "415":
          description: Unsupported Media Type, Content-Type header is invalid or missing
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: not-supported
                    details:
                      text: Content type 'text/plain' not supported
        "500":
          description: Internal Server Error
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationErrorOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: unknown
                    details:
                      coding:
                        system: "https://fhir.nhs.uk/CodeSystem/Spine-ErrorOrWarningCode"
                        version: 1
                        code: UNKNOWN_ERROR
                        display: Unknown Error
                    diagnostics: "An unknown error occurred processing this request. Contact us for assistance diagnosing this issue: https://digital.nhs.uk/developer/help-and-support."

  /AuditEvent:
    post:
      summary: Send TMS Event Service (TES) message
      operationId: alert
      description: |
        ## Overview
        Use this endpoint to record TMS Event Service (TES) Alerts centrally.

        ## Sandbox test scenarios
        You can test the following scenarios in our sandbox environment:

        | Scenario                         | Request                                  | Response             |
        | -------------------------------- | ---------------------------------------- | -------------------- |
        | Happy path                       | `nhsNumber`=`9995000180`                 | HTTP Status 201      |
        
      parameters:
        - $ref: '#/components/parameters/BearerAuthorization'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
        - $ref: '#/components/parameters/RoleID'
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/AuditEvent.yaml
            example:
              $ref: components/examples/AuditEvent.json
      responses:
        "201":
          description: Success response
        "400":
          description: Bad request
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: invalid
                    details:
                      text: Invalid or missing value in field 'entity.what.identifier.value'
        "401":
          description: Unauthorized
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: forbidden
                    details:
                      text: Invalid access token
        "415":
          description: Unsupported Media Type, Content-Type header is invalid or missing
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: not-supported
                    details:
                      text: Content type 'text/plain' not supported
        "500":
          description: Internal Server Error
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationErrorOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: unknown
                    details:
                      coding:
                        system: "https://fhir.nhs.uk/CodeSystem/Spine-ErrorOrWarningCode"
                        version: 1
                        code: UNKNOWN_ERROR
                        display: Unknown Error
                    diagnostics: "An unknown error occurred processing this request. Contact us for assistance diagnosing this issue: https://digital.nhs.uk/developer/help-and-support."
components:
  parameters:
    BearerAuthorization:
      in: header
      name: Authorization
      description: |
        An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).
        Required in all environments except sandbox.
      required: true
      schema:
        type: string
        format: '^Bearer\ [[:ascii:]]+$'
        example: 'Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM'
    CorrelationID:
      in: header
      name: X-Correlation-ID
      required: false
      description: |
        A globally unique identifier (GUID) for the request, which we use to trace the request if you contact our helpdesk.

        Mirrored back in a response header.

        Avoid `.` characters.
      schema:
        type: string
        example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
    RequestID:
      in: header
      name: X-Request-ID
      required: false
      description: |
        A globally unique identifier (GUID) for the request, which we use to de-duplicate repeated requests.

        Must be a universally unique identifier (UUID) (ideally version 4).
        If you re-send a failed request, use the same value in this header.
        Mirrored back in a response header.
      schema:
        type: string
        pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
        example: 60E0B220-8136-4CA5-AE46-1D97EF59D068

    RoleID:
      in: header
      name: NHSD-Session-URID
      description: |

        The user role ID (URID) for the current session. Also known as a user role profile ID (URPID).

        If you are using User-restricted RESTful APIs - NHS login combined authentication and authorisation, See [determin the user's role](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-cis2-combined-authentication-and-authorisation#step-7-determine-the-user-s-role) guidance.
        If you are using User-restricted RESTful APIs - NHS login separate authentication and authorisation, See [determin the user's role](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-cis2-separate-authentication-and-authorisation#step-9-determine-the-user-s-role) guidance.
        
        This field is optional.

      required: false
      schema:
        type: string
        pattern: '^[0-9]+$'
        example: '555021935107'
    ContentType:
      in: header
      name: Content-Type
      description: |
        Used to indicate what type of data is actually sent
      required: true
      schema:
        type: string
        example: 'application/fhir+json'
