openapi: 3.0.0
info:
  version: 1.0.0
  title: Summary Care Record API
  description: |
    
    <div class="emphasis-box emphasis-box-emphasis navigationMarker-sub" aria-label="Highlighted Information">
        <div class="emphasis-box__image">
                <img src="https://digital.nhs.uk/svg-magic/binaries/content/gallery/website/icons/universal/information.svg?colour=005eb8" alt="" width="100" height="100">
        </div>
    <div class="emphasis-box__content">
            <div data-uipath="website.contentblock.emphasis.content"><p>This API is initially for use by new market entrant GP IT developers with other use cases to follow later.</p></div>
    </div>
    </div>

    ## Overview
    Use this API to access a patient's [Summary Care Record (SCR)](https://digital.nhs.uk/services/summary-care-records-scr) - an electronic record of important patient information, created from GP medical records. SCRs can be seen and used by authorised staff in other areas of the health and care system involved in the patient's direct care.

    Also use this API to access the Access Control Service (ACS) - which manages consent to share information for SCR.

    You can:
    * create a patient's Summary Care Record
    * retrieve a patient's Summary Care Record
    * set consent to share information
    * send Alert to record TMS Event Service (TES) Alerts centrally

    ## Legal Use
    This API can only be used where there is a legal basis to do so. Make sure you have a valid use case before you go too far with your development. You must do this before you can go live (see ‘Onboarding’ below).

    ## Related APIs
    To use this API, you will need the patient's NHS number, which can be retrieved by using the following API:
      - [Personal Demographics Service (FHIR) API](https://digital.nhs.uk/developer/api-catalogue/personal-demographics-service-fhir) - use this API to search for patients and retrieve their details.  This API can also be used to update their details in some cases. This is the latest version of the PDS API and is recommended for all new integrators.

    ## API status and roadmap
    This API is initially for use by new market entrant GP IT developers with other use cases to follow later.
    
    This API is in [alpha](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#api-status), meaning:
      - the API is available in our sandbox and integration test environments
      - the API is not yet available for production use
      - we might make breaking changes

    To see our roadmap, or to suggest, comment or vote on features for this API, see our [interactive product backlog](https://nhs-digital-api-management.featureupvote.com/?order=popular&filter=all&tag=reasonable-adjustment-flag#controls).

    If you have any other queries, please [contact us](https://digital.nhs.uk/developer/help-and-support).

    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#basic-rest-apis). 

    It also conforms to the [FHIR (R4)](https://www.hl7.org/fhir/) global standard for health care data exchange.

    You don’t need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules. In particular:
        - array names are singular, for example `line` not `lines` for address lines
        - data items that are country-specific and thus not included in the FHIR global base resources are usually wrapped in an `extension` object

    ## Network Access
    This API is available on the internet and, indirectly, on the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network). To use this API with NHS smartcards (see below) you do need an HSCN connection, although internet-facing alternatives are available.

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).


    ## Authorisation
    This API is [user-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis), meaning an end user must be present and authenticated to use it.

    The end user must be:
    - a healthcare professional
    - strongly authenticated, using either an NHS smartcard or a modern alternative available via [NHS Identity](https://digital.nhs.uk/services/nhs-identity)

    The API uses OAuth 2.0 to authorise the calling system. It supports the following security patterns:

    - [user-restricted RESTful API - using NHS Identity - combined authentication and authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-identity-combined-authentication-and-authorisation)
    - [user-restricted RESTful API - using NHS Identity - separate authentication and authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-identity-separate-authentication-and-authorisation)

    For more details, see [user-restricted APIs](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).


    ## Environments and testing
    | Purpose                                | Base URL                                            |
    | ---------------------------------------|-----------------------------------------------------|
    | Sandbox                                | `https://sandbox.api.service.nhs.uk/summary-care-record/FHIR/R4`|
    | Integration test                       | `https://int.api.service.nhs.uk/summary-care-record/FHIR/R4`    |



    ### Sandbox testing
    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):
      - is for early developer testing
      - only covers a limited set of scenarios
      - is stateless, so it does not actually persist any updates
      - is open access, so does not allow you to test authorisation

      For more details on sandbox testing, or to try out the sandbox using our \"Try this API\" feature, see the documentation for each endpoint.

    ### Integration testing
    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):
    * is for formal integration testing
    * is stateful, so persists updates

    ## Onboarding
    You need to get your software approved by us before it can go live with this API. We call this onboarding. The onboarding process can sometimes be quite long, so it’s worth planning well ahead.

  license:
    name: MIT
  contact:
    name: Summary Care Record FHIR API Support
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
x-nhsd-api-platform:
  meta:
    name: Summary Care Record API
    canonical_name: summary-care-record
    short_name: scr
    description: This is a generated template API
    pipeline_name_prefix: "Summary-Care-Record"
servers:
  - url: 'https://sandbox.api.service.nhs.uk/summary-care-record/FHIR/R4'
    description: Sandbox environment
  - url: 'https://int.api.service.nhs.uk/summary-care-record/FHIR/R4'
    description: Integration test environment.
paths:
  /Bundle:
    post:
      summary: Upload patient's Summary Care Record
      operationId: upload-scr
      parameters:
        - $ref: '#/components/parameters/BearerAuthorization'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
        - $ref: '#/components/parameters/RoleID'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/UploadBundle.yaml
            example:
              $ref: components/examples/UploadScrBundle.json
      responses:
        "201":
          description: SCR successfully uploaded
        "400":
          description: Bad request
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: invalid
                    details:
                      text: NHS number missing
        "403":
          description: There's no patient's consent to store SCR
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: forbidden
                    details:
                      text: There's no patient's consent to store SCR
    get:
      description: |
        ## Overview
        Use this endpoint to retrieve the details of patient's Summary Care Record.

        To get the information you must provide patient's NHS Number and SCR UUID. UUID can be obtained using GET /DocumentReference endpoint.
      summary: Get patient's Summary Care Record
      operationId: get-scr
      parameters:
        - $ref: '#/components/parameters/BearerAuthorization'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
        - in: query
          name: composition.identifier
          description: Identifier of SCR composition - can be retrieved using GET /DocumentReference endpoint available in this API.
          example: f61e545c-d52c-4b62-9668-3dcc6c27fc50
          required: true
          schema: 
            type: string
        - in: query
          name: composition.subject:Patient.identifier
          description: The patient's NHS Number. Must be preceded with FHIR identifier (eg."composition.subject:Patient.identifier=https://fhir.nhs.uk/Id/nhs-number|9995000180")
          example: composition.subject:Patient.identifier=https://fhir.nhs.uk/Id/nhs-number|9995000180
          required: true
          schema:
            type: string

      responses:
        "200":
          description: SCR successfully returned
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/GetScrBundle.yaml
              example:
                $ref: components/examples/GetScrBundle.json
        "400":
            description: Bad request
            content:
              application/fhir+json:
                schema:
                  $ref: components/schemas/OperationOutcome.yaml
                example:
                  resourceType: OperationOutcome
                  issue:
                    - severity: error
                      code: invalid
                      details:
                        text: NHS number missing
                      
  /DocumentReference:
    get:
      summary: Get patient's latest Summary Care Record identifier
      operationId: get-scr-id
      description: |
        ## Overview
        Use this endpoint to retrieve UUID of patient's latest record. This UUID can be then used to retrieve the Summary Care Record details.

        To get the information you must provide patient's NHS Number.
      parameters:
        - $ref: '#/components/parameters/BearerAuthorization'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
        - $ref: '#/components/parameters/RoleID'
        - in: query
          name: patient
          description: The patient's NHS Number. Must be preceded with FHIR identifier (eg."patient=https://fhir.nhs.uk/Id/nhs-number|9995000180")
          required: true
          example: https://fhir.nhs.uk/Id/nhs-number|9995000180
          schema:
            type: string
            
        - in: query
          name: type
          description: General Practice Summary snomed code. Must be equal "type=http://snomed.info/sct|196981000000101"
          required: false
          example: http://snomed.info/sct|196981000000101
          schema:
            type: string
          
        - in: query
          name: _sort
          description: Defines how Patient's SCR list should be sorted in order to retrieve the latest one. The only supported value is _sort=date. If a different value is provided HTTP 400 Bad Request will be returned.
          required: false
          example: date
          schema:
            type: string
             
        - in: query
          name: _count
          description: Defines the number of latest patient SCR IDs that sgould be retrieved. Currently the only supported value is _count=1. If a different value is provided HTTP 400 Bad Request will be returned.
          required: false
          example: 1
          schema:
            type: integer
              
      responses:
        "200":
          description: Success response
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/DocumentReferenceBundle.yaml
              example:
                $ref: components/examples/DocumentReferenceBundle.json

  /$setPermission:
    post:
      summary: Update patient's consent to View SCR
      operationId: acs
      description: |
        ## Overview
        Use this endpoint to update the Permission to view for GP Summaries held for the patient

        ## Sandbox test scenarios
        You can test the following scenarios in our sandbox environment:

        | Scenario                         | Request                                           | Response                                          |
        | -------------------------------- | ------------------------------------------------- | -------------------- |
        | Happy path                       | `NHSD-Session-URID`=`555254240100`                | HTTP Status 201      |
        
      parameters:
        - $ref: '#/components/parameters/BearerAuthorization'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
        - $ref: '#/components/parameters/RoleID'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/Parameters.yaml
            example:
              $ref: components/examples/SetPermission.json
      responses: 
        "201": 
          description: Permission successfully updated
        "400":
          description: Bad request
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: invalid
                    details:
                      text: Invalid value - xyz in field 'valueCoding.code'

  /AuditEvent:
    post:
      summary: Send TMS Event Service (TES) message
      operationId: alert
      description: |
        ## Overview
        Use this endpoint to record TMS Event Service (TES) Alerts centrally.
      parameters:
        - $ref: '#/components/parameters/BearerAuthorization'
        - $ref: '#/components/parameters/CorrelationID'
        - $ref: '#/components/parameters/RequestID'
        - $ref: '#/components/parameters/RoleID'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: components/schemas/AuditEvent.yaml
            example:
              $ref: components/examples/AuditEvent.json
      responses:
        "201":
          description: Success response
        "400":
          description: Bad request
          content:
            application/fhir+json:
              schema:
                $ref: components/schemas/OperationOutcome.yaml
              example:
                resourceType: OperationOutcome
                issue:
                  - severity: error
                    code: invalid
                    details:
                      text: Invalid or missing value in field 'entity.what.identifier.value'

components:
  parameters:
    BearerAuthorization:
      in: header
      name: Authorization
      description: |
        An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).
        Required in all environments except sandbox.
      required: true
      schema:
        type: string
        format: '^Bearer\ [[:ascii:]]+$'
        example: 'Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM'
    CorrelationID:
      in: header
      name: X-Correlation-ID
      required: false
      description: |
        A globally unique identifier (GUID) for the request, which we use to trace the request if you contact our helpdesk.

        Mirrored back in a response header.

        Avoid `.` characters.
      schema:
        type: string
        example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
    RequestID:
      in: header
      name: X-Request-ID
      required: false
      description: |
        A globally unique identifier (GUID) for the request, which we use to de-duplicate repeated requests.

        Must be a universally unique identifier (UUID) (ideally version 4).
        If you re-send a failed request, use the same value in this header.
        Mirrored back in a response header.
      schema:
        type: string
        pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
        example: 60E0B220-8136-4CA5-AE46-1D97EF59D068

    RoleID:
      in: header
      name: NHSD-Session-URID
      description: |

        The user role ID (URID) for the current session. Also known as a user role profile ID (URPID).

        For more details, see [determine the user’s role](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-identity-combined-authentication-and-authorisation#step-6-determine-the-user-s-role).

      required: true
      schema:
        type: string
        pattern: '^[0-9]+$'
        example: '555021935107'
