server:
  port: ${SCR_SERVER_PORT:9000}
  tomcat:
    relaxed-query-chars: "|"
  error:
    whitelabel:
      enabled: false

spring:
  mvc:
    throw-exception-if-no-handler-found: true
  resources:
    add-mappings: false

management:
  endpoints:
    web:
      base-path: /
      path-mapping.health: healthcheck
      exposure:
        include: info, health, metrics, mappings

identity-service:
  userInfoEndpoint: ${IDENTITY_SERVICE_URI:/oauth2/userinfo}
  baseUrl: https://${APIGEE_HOST}

scr:
  sandboxMode: ${SCR_SANDBOX_MODE:False}
  sandboxDelay: 200
  partyIdFrom: ${SCR_PARTY_ID_FROM:TESTGEN-201324}
  partyIdTo: ${SCR_PARTY_ID_TO}
  nhsdAsidTo: ${SCR_NHSD_ASID_TO}
  serviceBasePath: ${SERVICE_BASE_PATH}
  baseUrl: https://${HOST_URL}

spine:
  tlsEnabled: ${TLS_ENABLED:True}
  url: https://${SCR_SPINE_URL}
  acsEndpoint: /sync-service
  alertEndpoint: /clinical/alert
  scrEndpoint: ${SCR_SPINE_ENDPOINT:/clinical}
  psisQueriesEndpoint: ${SCR_SPINE_PSIS_ENDPOINT:/sync-service}
  scrResultRepeatTimeout: ${SCR_SPINE_RESULT_REPEAT_TIMEOUT:50000} # 50sec - how much time to wait for all repeated Spine GET retries
  scrResultTimeout: ${SCR_SPINE_RESULT_TIMEOUT:60000} # 60sec - how much time to wait for this API entire SCR POST (Spine POST + polling Spine GET)
  connectionPool:
    maxTotalConnections: 100
    defaultKeepAliveTime: 20000
    connectionTimeout: 30000
    requestTimeout: 30000
    socketTimeout: 60000
    idleConnectionWaitTime: 30000
