<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns="urn:hl7-org:v3">
    <SOAP-ENV:Header>
        <wsa:MessageID>uuid:6B29FC40-CA47-1067-B31D-00DD010662DA</wsa:MessageID>
        <wsa:Action>urn:nhs:names:services:lrs/REPC_IN150016UK05</wsa:Action>
        <wsa:To>https://synch.nis1.national.ncrs.nhs.uk/syncservice/tms</wsa:To>
        <wsa:From>
            <wsa:Address>http://myMSH.com/pds/myPage.asmx</wsa:Address>
        </wsa:From>
        <communicationFunctionRcv>
            <device>
                <id root="1.2.826.0.1285.0.2.0.107" extension="ZZZ999-100000000900001"/>
            </device>
        </communicationFunctionRcv>
        <communicationFunctionSnd>
            <device>
                <id root="1.2.826.0.1285.0.2.0.107" extension="ZZZ000-100000000800001"/>
            </device>
        </communicationFunctionSnd>
        <wsa:ReplyTo>
            <wsa:Address>http://myMSH.com/pds/myPage.asmx</wsa:Address>
        </wsa:ReplyTo>
    </SOAP-ENV:Header>
    <SOAP-ENV:Body>
        <REPC_IN150016UK05 ITSVersion="XML_1.0" xmlns="urn:hl7-org:v3">
            <id root="{{headerId}}"/>
            <creationTime value="{{headerTimeStamp}}"/>
            <versionCode code="V3NPfIT4.2.00"/>
            <interactionId root="2.16.840.1.113883.2.1.3.2.4.12" extension="REPC_IN150016UK05"/>
            <processingCode code="P"/>
            <processingModeCode code="T"/>
            <acceptAckCode code="NE"/>
            <communicationFunctionRcv typeCode="RCV">
                <device classCode="DEV" determinerCode="INSTANCE">
                    <id root="1.2.826.0.1285.0.2.0.107" extension="655159266510"/>
                </device>
            </communicationFunctionRcv>
            <communicationFunctionSnd typeCode="SND">
                <device classCode="DEV" determinerCode="INSTANCE">
                    <id root="1.2.826.0.1285.0.2.0.107" extension="511736638012"/>
                </device>
            </communicationFunctionSnd>
            <ControlActEvent classCode="ALRT" moodCode="EVN">
                <author1 typeCode="AUT">
                    <AgentSystemSDS classCode="AGNT">
                        <agentSystemSDS classCode="DEV" determinerCode="INSTANCE">
                            <id root="1.2.826.0.1285.0.2.0.107" extension="511736638012"/>
                        </agentSystemSDS>
                    </AgentSystemSDS>
                </author1>
                <author typeCode="AUT">
                    <AgentPersonSDS classCode="AGNT">
                        <id root="1.2.826.0.1285.0.2.0.67" extension="055888118514"/>
                        <agentPersonSDS classCode="PSN" determinerCode="INSTANCE">
                            <id root="1.2.826.0.1285.0.2.0.65" extension="979603625513"/>
                        </agentPersonSDS>
                        <part typeCode="PART">
                            <partSDSRole classCode="ROL">
                                <id extension="R0260" root="1.2.826.0.1285.0.2.1.104"/>
                            </partSDSRole>
                        </part>
                    </AgentPersonSDS>
                </author>
                <subject typeCode="SUBJ" contextConductionInd="false">
                    <GPSummary classCode="COMPOSITION" moodCode="EVN">
                        <id root="{{compositionId}}"/>
                        <code code="196981000000101" codeSystem="2.16.840.1.113883.2.1.3.2.4.15" displayName="General Practice Summary"/>
                        <effectiveTime value="{{compositionDate}}"/>
                        <statusCode code="active"/>
                        <author typeCode="AUT" contextControlCode="OP">
                            <time value="{{compositionDate}}"/>
                            {{#practitionerRoleIdentifiers}}
                            {{#practitionerRoleIsAgentPersonSDS}}
                            <UKCT_MT160018UK01.AgentPersonSDS classCode="AGNT">
                                <id root="1.2.826.0.1285.0.2.0.67" extension="{{practitionerRoleId}}"/>
                                <agentPersonSDS classCode="PSN" determinerCode="INSTANCE">
                                    {{#practitionerIds}}
                                    <id root="1.2.826.0.1285.0.2.0.65" extension="{{practitionerId}}"/>
                                    {{/practitionerIds}}
                                    {{#practitionerNames}}
                                    <name>{{practitionerName}}</name>
                                    {{/practitionerNames}}
                                </agentPersonSDS>
                            </UKCT_MT160018UK01.AgentPersonSDS>
                            {{/practitionerRoleIsAgentPersonSDS}}
                            {{^practitionerRoleIsAgentPersonSDS}}
                            <UKCT_MT160018UK01.AgentPerson classCode="AGNT">
                                {{#practitionerRoleCodes}}
                                {{#practitionerRoleCodeCodings}}
                                <code code="{{practitionerRoleCode}}" codeSystem="2.16.840.1.113883.2.1.3.2.4.17.124" displayName="{{practitionerRoleCodeDisplayName}}"/>
                                {{/practitionerRoleCodeCodings}}
                                {{/practitionerRoleCodes}}
                                <addr>{{organizationAddress}}</addr>
                                {{#organizationTelecoms}}
                                <telecom>{{organizationTelecom}}</telecom>
                                {{/organizationTelecoms}}
                                <representedOrganization classCode="ORG" determinerCode="INSTANCE">
                                    {{#organizationTypes}}
                                    {{#organizationCodes}}
                                    <code code="{{organizationCode}}"/>
                                    {{/organizationCodes}}
                                    {{/organizationTypes}}
                                    <name>{{organizationName}}</name>
                                    <desc></desc>
                                    {{#organizationAddresses}}
                                    <addr>{{organizationAddress}}</addr>
                                    {{/organizationAddresses}}
                                </representedOrganization>
                                <representedOrganizationSDS classCode="ORG" determinerCode="INSTANCE">
                                    {{#organizationIds}}
                                    <id root="{{organizationIdRoot}}" extension="{{organizationId}}"/>
                                    {{/organizationIds}}
                                    <name>{{organizationName}}</name>
                                </representedOrganizationSDS>
                            </UKCT_MT160018UK01.AgentPerson>
                            {{/practitionerRoleIsAgentPersonSDS}}
                            {{/practitionerRoleIdentifiers}}
                        </author>
                        <excerptFrom typeCode="XCRPT" inversionInd="false" contextConductionInd="true" negationInd="false">
                            <templateId root="2.16.840.1.113883.2.1.3.2.4.18.2" extension="CSAT_RM-NPfITUK10.excerptFrom"/>
                            <seperatableInd value="false"/>
                            <UKCT_MT144051UK01.CareProfessionalDocumentationCRE classCode="CATEGORY" moodCode="EVN">
                                <code code="163171000000105" codeSystem="2.16.840.1.113883.2.1.3.2.4.15" displayName="Care Professional Documentation"/>
                                <component typeCode="COMP" inversionInd="false" negationInd="false">
                                    <templateId root="2.16.840.1.113883.2.1.3.2.4.18.2" extension="CSAB_RM-NPfITUK10.component"/>
                                    <seperatableInd value="false"/>
                                    {{#presentations}}
                                    <presentationText classCode="OBS" moodCode="EVN">
                                        <value mediaType="text/plain">
                                            {{presentationText}}
                                        </value>
                                        <id root=""/>
                                        <code code="PresentationText" codeSystem="2.16.840.1.113883.2.1.3.2.4.17.126" displayName="Presentation Text"/>
                                        <statusCode code="completed"/>
                                        <effectiveTime value=""/>
                                    </presentationText>
                                    {{/presentations}}
                                </component>
                            </UKCT_MT144051UK01.CareProfessionalDocumentationCRE>
                        </excerptFrom>
                        <pertinentInformation1 typeCode="PERT" inversionInd="false" contextConductionInd="true" negationInd="false">
                            <templateId root="2.16.840.1.113883.2.1.3.2.4.18.2" extension="CSAB_RM-NPfITUK10.pertinentInformation1"/>
                            <seperatableInd value="true"/>
                            <pertinentRootCREType classCode="CATEGORY" moodCode="EVN">
                                <code code="163171000000105" codeSystem="2.16.840.1.113883.2.1.3.2.4.15" displayName="Care Professional Documentation"/>
                            </pertinentRootCREType>
                        </pertinentInformation1>
                        <pertinentInformation2 typeCode="PERT" inversionInd="false" contextConductionInd="true" negationInd="false">
                        </pertinentInformation2>
                        {{#patientIds}}
                        <recordTarget typeCode="RCT">
                            <patient classCode="PAT">
                                <id root="2.16.840.1.113883.2.1.4.1" extension="{{patientId}}"/>
                            </patient>
                        </recordTarget>
                        {{/patientIds}}
                        {{#compositionRelatesTos}}
                        <replacementOf typeCode="RPLC">
                            <priorMessageRef classCode="COMPOSITION" moodCode="EVN">
                                <id root="{{compositionRelatesToId}}"/>
                            </priorMessageRef>
                        </replacementOf>
                        {{/compositionRelatesTos}}
                    </GPSummary>
                </subject>
            </ControlActEvent>
        </REPC_IN150016UK05>
    </SOAP-ENV:Body>
</SOAP-ENV:Envelope>

