<UKCT_MT120601UK02.AgentDevice classCode="AGNT">
    {{#idRoot}}
        <id root="{{idRoot}}"/>
    {{/idRoot}}
    {{#device}}
        {{> Device.mustache }}
    {{/device}}
    {{#deviceSDS}}
        {{> DeviceSDS.mustache }}
    {{/deviceSDS}}
    {{#organization}}
        {{> Organization.mustache }}
    {{/organization}}
    {{#organizationSDS}}
        {{> OrganizationSDS.mustache }}
    {{/organizationSDS}}
</UKCT_MT120601UK02.AgentDevice>
