<UKCT_MT160018UK01.AgentPersonSDS classCode="AGNT">
    <id root="1.2.826.0.1285.0.2.0.67" extension="{{idExtension}}"></id>
    {{#agentPersonSDS}}
    {{> PersonSDS.mustache}}
    {{/agentPersonSDS}}
</UKCT_MT160018UK01.AgentPersonSDS>