<author typeCode="AUT" contextControlCode="OP">
    <time value="{{time}}"/>
    {{#agentPersonSDS}}
        {{> AgentPersonSDS.mustache}}
    {{/agentPersonSDS}}
    {{#agentPerson}}
        {{> AgentPerson.mustache}}
    {{/agentPerson}}
    {{#agentOrgSDS}}
        {{> AgentOrgSDS.mustache}}
    {{/agentOrgSDS}}
</author>
