<{{tag}} classCode="DEV" determinerCode="INSTANCE">
    <id root="{{idRoot}}" extension="{{idExtension}}"/>
    <code code="{{codeCode}}" displayName="{{codeDisplayName}}" codeSystem="ABC"/>
    {{#name}}
    <name>{{name}}</name>
    {{/name}}
    {{#description}}
    <desc>{{description}}</desc>
    {{/description}}
    {{#manufacturerModelName}}
    <manufacturerModelName>{{manufacturerModelName}}</manufacturerModelName>
    {{/manufacturerModelName}}
</{{tag}}>