<component typeCode="COMP" contextConductionInd="true">
    <templateId root="2.16.840.1.113883.2.1.3.2.4.18.2" extension="CSAB_RM-NPfITUK10.component"/>
    <seperatableInd value="false"/>
    <UKCT_MT144043UK02.Finding classCode="OBS" moodCode="EVN">
        <id root="{{idRoot}}"/>
        <code code="{{codeCode}}" codeSystem="2.16.840.1.113883.2.1.3.2.4.15" displayName="{{codeDisplayName}}"/>
        {{#statusCodeCode}}
        <statusCode code="{{statusCodeCode}}"/>
        {{/statusCodeCode}}
        <effectiveTime>
            {{#effectiveTimeLow}}
                <low value="{{effectiveTimeLow}}"/>
            {{/effectiveTimeLow}}
            {{#effectiveTimeHigh}}
                <high value="{{effectiveTimeHigh}}"/>
            {{/effectiveTimeHigh}}
            {{#effectiveTimeCenter}}
                <center value="{{effectiveTimeCenter}}"/>
            {{/effectiveTimeCenter}}
        </effectiveTime>
        {{#author}}
            {{> Author1.mustache}}
        {{/author}}
        {{#informant}}
            {{> Informant.mustache}}
        {{/informant}}
        {{#performer}}
            {{> Performer.mustache}}
        {{/performer}}
    </UKCT_MT144043UK02.Finding>
</component>