{{^investigations.empty}}
    <pertinentInformation2 typeCode="PERT" inversionInd="false" contextConductionInd="true" negationInd="false">
        <templateId root="2.16.840.1.113883.2.1.3.2.4.18.2" extension="CSAB_RM-NPfITUK10.pertinentInformation1"/>
        <seperatableInd value="true"/>
        <pertinentCREType classCode="CATEGORY" moodCode="EVN">
            <code code="163081000000108" codeSystem="2.16.840.1.113883.2.1.3.2.4.15" displayName="Investigations"/>
            {{#investigations}}
                {{> Investigation.mustache }}
            {{/investigations}}
        </pertinentCREType>
    </pertinentInformation2>
{{/investigations.empty}}