{{^medicationRecommendations.empty}}
    <pertinentInformation2 typeCode="PERT" inversionInd="false" contextConductionInd="true" negationInd="false">
        <templateId root="2.16.840.1.113883.2.1.3.2.4.18.2" extension="CSAB_RM-NPfITUK10.pertinentInformation1"/>
        <seperatableInd value="true"/>
        <pertinentCREType classCode="CATEGORY" moodCode="EVN">
            <code code="185371000000109" codeSystem="2.16.840.1.113883.2.1.3.2.4.15" displayName="Medication Recommendations"/>
            {{#medicationRecommendations}}
                {{> Finding.mustache }}
            {{/medicationRecommendations}}
        </pertinentCREType>
    </pertinentInformation2>
{{/medicationRecommendations.empty}}