<{{tag}} classCode="ORG" determinerCode="INSTANCE">
    {{#idExtension}}
        <id root="{{idRoot}}" extension="{{idExtension}}"/>
    {{/idExtension}}
    {{#codeCode}}
        <code code="{{codeCode}}"/>
    {{/codeCode}}
    {{#name}}
        <name>{{name}}</name>
    {{/name}}
    {{#address}}
        <addr>{{address}}</addr>
    {{/address}}
    {{#telecom}}
        <telecom use="WP" value="{{telecom}}"/>
    {{/telecom}}
</{{tag}}>