name: PR Quality Check
on:
  pull_request:
    types: [opened, synchronize, edited, reopened]
jobs:
  link-ticket:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title starts with Jira reference
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: |
          JIRA_REGEX="^(APM|NIAD|AMB|FLAGSAPI)-([[:digit:]]+)"
          [[ "$PR_TITLE" =~ $JIRA_REGEX ]] && exit 0 || exit 1
